<nav *ngIf="!loading" class="navbar">
  <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
    <div style="width: 100%;">
      <h4 [routerLink]="['/chat/Messanger']" style="cursor: pointer;outline: none;">
        Messanger</h4>
    </div>
    <div style="width: 100%;display: flex;justify-content: flex-end;align-items: center;">
      <div class="dropdown">
        <div style="display: flex; align-items: center;cursor: pointer;" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true">
          <div [style.background-image]="'url('+currentUser.profileImg+')'" class="profile-image">
          </div>
          <h4 style="margin: 0;padding:10px;">
            {{currentUser.name}} {{currentUser.surname}}
          </h4>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" [routerLink]="['/chat/settings']">Settings</button>
          <button class="dropdown-item" (click)="onDisconnect()">Disconnect</button>
        </div>
      </div>
    </div>
  </div>
</nav>
