<router-outlet></router-outlet>
<section *ngIf="!loading" class="chat">

  <div *ngIf="openBlockMsgModal">
    <div class="backdrop-container" (click)="onOpenBlockMsgModal(false)">
    </div>
    <div class="modal-container">
      <div class="modal-title">
        <h4 *ngIf="!checkBlockedUser()" class="user-name">
          Bloquer les messages
        </h4>
        <h4 *ngIf="checkBlockedUser()" class="user-name">
          Débloquer les messages
        </h4>
      </div>
      <div class="modal-content-text">
        <p>
          Vous ne recevrez plus de messages et d’appels de {{currentConversation.users[destinationUser].name}} dans
          Messenger.
        </p>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenBlockMsgModal(false)">Annuler</button>
          <button *ngIf="!checkBlockedUser()" class="button-danger" (click)="blockUser()">Bloquer les
            messages</button>
          <button *ngIf="checkBlockedUser()" class="button-danger" (click)="deBlockUser()">Débloquer les
            messages</button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="showImage">
    <div class="backdrop-image-container" (click)="onShowImage(false)">
      <i class="fas fa-times" style="font-size:35px;color:white;"></i>
    </div>
    <div class="modal-image-container" [style.background-image]="'url('+selectedImage+')'">

    </div>
  </div>


  <div *ngIf="callReceivedModal">
    <div class="backdrop-container">
    </div>
    <div class="modal-container">
      <div class="modal-title">

        <h4 class="user-name">
          Appel entrant
        </h4>
      </div>
      <div class="modal-content-text" style="display: flex;">
        <div [style.background-image]="'url('+callerUser.profileImg+')'" alt="" style="height: 80px;width: 80px;"
          class="img-circle">
        </div>
        <div style="margin-left: 20px;">
          <p>
            {{callerUser.surname}} {{callerUser.name}} vous appelle.
          </p>
          <p style="margin-top: 10px;">
            L'appel commencera des que vous repondez.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="endCall()">Refuser</button>
          <button class="button-success" (click)="answerCall()">Accepter</button>
        </div>

      </div>
    </div>
  </div>



  <div *ngIf="openIgnoreMessages">
    <div class="backdrop-container" (click)="onOpenIgnoreMessages(false)">

    </div>
    <div class="modal-container">
      <div class="modal-title">
        <h4 class="user-name">
          Ignorer cette conversation ?
        </h4>
      </div>
      <div class="modal-content-text">
        <p>
          Vous ne recevrez pas de notification lorsque Moez vous enverra des messages, et la conversation sera déplacée
          vers les messages filtrés. Nous n’informerons pas Moez que ses messages ont été ignorés. </p>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenIgnoreMessages(false)">Annuler</button>
          <button class="button-danger" style="font-weight: 500;">Ignorer les messages</button>
        </div>

      </div>
    </div>

  </div>

  <div *ngIf="openDeleteConverModal">
    <div class="backdrop-container" (click)="onOpenDeleteConver(false)">

    </div>
    <div class="modal-container">
      <div class="modal-title">
        <h4 class="user-name">
          Supprimer cette conversation ?
        </h4>
      </div>
      <div class="modal-content-text">
        <p>Cela supprimera définitivement l’historique de la conversation.</p>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenDeleteConver(false)">Annuler</button>
          <button class="button-danger" (click)="deleteConversation(currentConversation._id)"
            style="font-weight: 500;">Supprimer</button>
        </div>

      </div>
    </div>

  </div>


  <div *ngIf="openEditPseudoModal">
    <div class="backdrop-container" (click)="onOpenEditPseudoModal(false)">
    </div>
    <div class="pseudo-container">
      <div class="modal-header">
        <button class="button-success" (click)="onOpenEditPseudoModal(false)">Annuler</button>
        <h4 class="user-name" style="font-size: 15px;margin: 0;"> Modifier les pseudos</h4>
      </div>
      <div class="users-container">

        <div class="user-edit-pseudo" (click)="onOpenPseudoModal(true, currentConversation.users[destinationUser]._id)">
          <div [style.background-image]="'url('+currentConversation.users[destinationUser].profileImg+')'"
            class="img-circle" style="height: 30px;width: 30px;margin-right: 10px;">
          </div>
          <h4 *ngIf="!userHavePseudo(currentConversation._id,currentConversation.users[destinationUser]._id)"
            class="user-name" style="margin:0;font-size: 15px;font-weight: 400;">
            {{currentConversation.users[destinationUser].name}} {{currentConversation.users[destinationUser].surname}}
          </h4>
          <div *ngIf="userHavePseudo(currentConversation._id,currentConversation.users[destinationUser]._id)">
            <h4 class="user-name" style="margin:0;font-size: 15px;font-weight: 400;">
              {{getUserPseudo(currentConversation._id,currentConversation.users[destinationUser]._id)}}
            </h4>
            <p style="color: #999999;font-size: 11px;margin: 0;">
              {{currentConversation.users[destinationUser].name}} {{currentConversation.users[destinationUser].surname}}
            </p>

          </div>
        </div>
        <div class="user-edit-pseudo" (click)="onOpenPseudoModal(true, connectedUser._id)">
          <div [style.background-image]="'url('+connectedUser.profileImg+')'" class="img-circle"
            style="height: 30px;width: 30px;margin-right: 10px;"></div>
          <h4 *ngIf="!userHavePseudo(currentConversation._id,connectedUser._id)" class="user-name"
            style="margin:0;font-size: 15px;font-weight: 400;">
            {{connectedUser.name}} {{connectedUser.surname}}
          </h4>
          <div *ngIf="userHavePseudo(currentConversation._id,connectedUser._id)">
            <h4 class="user-name" style="margin:0;font-size: 15px;font-weight: 400;">
              {{getUserPseudo(currentConversation._id,connectedUser._id)}}
            </h4>
            <p style="color: #999999;font-size: 11px;margin: 0;">
              {{connectedUser.name}} {{connectedUser.surname}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="openPseudoModal">
    <div class="backdrop-container" (click)="onOpenPseudoModal(false)">
    </div>
    <div class="modal-container">
      <div class="modal-title">
        <h4 class="user-name">
          Modifier le pseudo de {{getSelectedUserPseudo().name}}
          {{getSelectedUserPseudo().surname}}
        </h4>
        <p>
          Tous les participants de cette conversation le verront. </p>
      </div>
      <div class="modal-content-input">
        <input class="input-pseudo" type="text" name="enteredPseudo" [(ngModel)]="enteredPseudo"
          (input)="convertPseudoMessage($event)"
          [placeholder]=getUserPseudo(currentConversation._id,selectedUserPseudoId) />
        <i *ngIf="userHavePseudo(currentConversation._id,selectedUserPseudoId)" class="fas fa-times"
          style="font-size: 18px;color: #999999;cursor: pointer;" (click)="removeUserPseudo(selectedUserPseudoId)"></i>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenPseudoModal(false)">Annuler</button>
          <button class="button-success" style="font-weight:500;" (click)="saveUserPseudo()">Enregistrer</button>
        </div>

      </div>
    </div>

  </div>


  <div *ngIf="openEmojiModal">
    <div class="backdrop-container" (click)="onOpenEmojiModal(false)">

    </div>

    <div class="modal-container-emojie">
      <div class="modal-title">
        <h4 class="user-name">
          Choisissez une couleur pour cette conversation
        </h4>
        <p>
          Tous les participants de cette conversation le verront. </p>
      </div>
      <div style="display: flex;justify-content: center;">
        <emoji-mart class="emoji-mart" set="{{set}}" (emojiSelect)="addConversationEmoji($event)"
          title="Pick your emoji…"></emoji-mart>
      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenEmojiModal(false)">Annuler</button>
        </div>

      </div>
    </div>

  </div>

  <div *ngIf="openColorsModal">
    <div class="backdrop-container" (click)="onOpenColorsModal(false)">

    </div>

    <div class="modal-container-colors">
      <div class="modal-title">
        <h4 class="user-name">
          Choisissez une couleur pour cette conversation
        </h4>
        <p>
          Tous les participants de cette conversation le verront. </p>
      </div>
      <div>
        <div class="modal-content-colors">
          <span class="color-item" style="background-color:rgb(0, 132, 255);"
            (click)="setConversationColor('rgb(0, 132, 255)')"></span>
          <span class="color-item" style="background-color:rgb(68, 190, 199);"
            (click)="setConversationColor('rgb(68, 190, 199)')"></span>
          <span class="color-item" style="background-color:rgb(255, 195, 0);"
            (click)="setConversationColor('rgb(255, 195, 0)')"></span>
          <span class="color-item" style="background-color:rgb(250, 60, 76);"
            (click)="setConversationColor('rgb(250, 60, 76)')"></span>

        </div>
        <div class="modal-content-colors">
          <span class="color-item" style="background-color:rgb(214, 150, 187);"
            (click)="setConversationColor('rgb(214, 150, 187)')"></span>
          <span class="color-item" style="background-color:rgb(19, 207, 19);"
            (click)="setConversationColor('rgb(19, 207, 19)')"></span>
          <span class="color-item" style="background-color:rgb(255, 126, 41);"
            (click)="setConversationColor('rgb(255, 126, 41)')"></span>
          <span class="color-item" style="background-color:rgb(230, 133, 133);"
            (click)="setConversationColor('rgb(230, 133, 133)')"></span>

        </div>
        <div class="modal-content-colors">
          <span class="color-item" style="background-color:rgb(118, 70, 255);"
            (click)="setConversationColor('rgb(118, 70, 255)')"></span>
          <span class="color-item" style="background-color:rgb(32, 206, 245);"
            (click)="setConversationColor('rgb(32, 206, 245)')"></span>
          <span class="color-item" style="background-color:rgb(255, 92, 161);"
            (click)="setConversationColor('rgb(255, 92, 161)')"></span>
        </div>

      </div>
      <div class="modal-footer">
        <div>
          <button class="button-success" (click)="onOpenColorsModal(false)">Annuler</button>
        </div>

      </div>
    </div>

  </div>

  <div class="container-fluid">
    <div class="row" style="background-color: white;">

      <div class="messages-box">
        <div class="row">
          <div class="col-lg-4 col-md-12 no-pdd">
            <div class="messages-container">
              <div class="message-header">
                <div class="message-title">
                  <div class="search-area">
                    <div class="input-field">
                      <input placeholder="Search" type="text" [(ngModel)]="searchTerms" [ngbTypeahead]="search" />
                      <!-- [ngbTypeahead]="search" -->
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>

              </div>
              <div class="messages-list" *ngIf="!checkUserAvailabe()">
                <ul>
                  <li>
                    <div class=" user-message-details">

                      <div class="user-message-info">
                        <div class="user-display">

                          <h4>No conversations available</h4>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="messages-list" *ngIf="checkUserAvailabe() && !loading && searchTerms.length==0">
                <ul style="list-style-type: none;" *ngFor="let conversation of userConversations">
                  <li (mouseenter)="setFocusConversation(conversation._id,true)"
                    (mouseleave)="setFocusConversation(conversation._idfalse)"
                    [ngClass]="conversation._id == currentConversation?._id ? 'message-item active' : 'message-item'">
                    <div class="user-message-details" (click)="onOpenConvers(conversation._id)">
                      <div class="user-message-img">
                        <span
                          *ngIf="conversation.users[indexUserDest(conversation._id)].connection.status && !checkBlockedConversations(conversation._id)"
                          class="online-status on-picture"></span>
                        <div
                          [style.background-image]="'url('+conversation.users[indexUserDest(conversation._id)].profileImg+')'"
                          class="img-circle">
                        </div>
                      </div>
                      <div class="user-message-info">
                        <div style="align-self: center;">
                          <div class="user-display">

                            <h4 [ngClass]="islastMessageSeen(conversation._id) ? 'read-userinfo' : 'not-read-userinfo'">
                              {{getUserPseudo(conversation._id, connectedUser._id == conversation.users[1]._id ? conversation.users[0]._id : conversation.users[1]._id)}}
                            </h4>
                          </div>

                          <div style="display: flex; align-items: center;">

                            <p [ngClass]="islastMessageSeen(conversation._id) ? 'message-field-read' : 'message-field-not-read'"
                              *ngIf="conversation.messages.length>0">

                              {{getLastConversationContent(conversation)}}

                            </p>

                            <span class="message-time">.
                              {{conversationDateFormat(conversation.messages[conversation.messages.length -1].date)}}</span>

                          </div>

                          <p [ngClass]="islastMessageSeen(conversation._id) ? 'message-field-read' : 'message-field-not-read'"
                            *ngIf="conversation.messages.length==0">
                            say hello to {{conversation.users[indexUserDest(conversation._id)].surname}}<span
                              class="message-time">.
                              {{conversationDateFormat(conversation.messages[conversation.messages.length -1].date)}}</span>
                          </p>

                        </div>
                        <div *ngIf="focusConversation.id==conversation._id && focusConversation.status"
                          class="notification-container">
                          <div class="dropdown">
                            <i class=" fas fa-ellipsis-h" id="dropdownMenuButton" data-toggle="dropdown"></i>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <button class="dropdown-item"
                                (click)="archiveConversation(conversation._id)">Archiver</button>
                              <button class="dropdown-item"
                                (click)="deleteConversation(conversation._id)">Supprimer</button>
                              <button class="dropdown-item" (click)="blockUserConversation(conversation._id)">Bloqué
                                les
                                messages</button>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="focusConversation.id!=conversation._id || !focusConversation.status"
                          class="notification-container">
                          <img *ngIf="showSeenPicture(conversation._id)"
                            [src]="conversation.users[indexUserDest(conversation._id)].profileImg"
                            class="seen-message-image" alt="">
                          <span *ngIf="!islastMessageSeen(conversation._id)" class="message-notification"></span>
                        </div>
                      </div>
                      <!--/ user-message-info -->
                    </div>
                    <!--/ user-message-details -->
                  </li>
                </ul>
              </div>

              <div class="messages-list" *ngIf="!loadingSearch && checkUserAvailabe() && searchTerms.length>0">
                <ul style="list-style-type: none;" *ngFor="let user of searchedUsers">
                  <li class="message-item">
                    <div class="user-message-details" (click)="onOpenSearchedConversation(user)">
                      <div class="user-message-img">
                        <div [style.background-image]="'url('+user.profileImg+')'" class="img-circle"></div>
                      </div>
                      <div class="user-message-info">
                        <div style="align-self: center;">
                          <div class="user-display">

                            <h4 class="not-read-userinfo">{{user.name}}
                              {{user.surname}}</h4>
                          </div>

                          <!-- <p class="message-field-not-read">
                              {{conversation.messages[conversation.messages.length-1].content}}<span
                                class="message-time">. 15:55</span></p> -->

                        </div>
                      </div>
                      <!--/ user-message-info -->
                    </div>
                    <!--/ user-message-details -->
                  </li>
                </ul>
              </div>
              <!--/ messages-list -->

            </div>
            <!--/ messages-container-->
          </div>
          <!--/ col-lg-4 -->
          <div *ngIf="!selectedProfileInfo && !selectedConversation"
            class="col-lg-8 col-md-12 pd-right-none pd-left-none">
            <div class="conversation-box">
              <div style="display: flex;justify-content: center;align-items: center; width: 100%;height: 85vh;">
                <div style="width: 100%;">
                  <div style="width: 100%;display: flex;justify-content: center;">

                    <i class="fab fa-facebook-messenger" style="color: #0084ff;font-size: 60px;"></i>
                  </div>
                  <div style="width: 100%;display: flex;justify-content: center;">

                    <h4>Welcome, <strong> {{connectedUser.name}}</strong></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedProfileInfo" class="col-lg-8 col-md-12 pd-right-none pd-left-none">
            <div class="conversation-box">
              <div style="padding-top: 23px;">
                <div class="user-message-details" style="align-items: center;justify-content: flex-end">

                  <div style="margin-right: 20px;">
                    <i class="fas fa-phone-alt" style="font-size: 25px;cursor: pointer;"
                      [style.color]="getConversationColor()" (click)="callUser(false)"></i>
                  </div>
                  <div style="display: flex;justify-content: center;align-items: center;margin-right: 10px;">
                    <i class="fas fa-video" style="font-size: 25px;cursor: pointer;"
                      [style.color]="getConversationColor()" (click)="callUser(true)">
                    </i>
                    <span *ngIf="currentConversation.users[destinationUser].connection.status" class="online-status"
                      style="margin-left: 5px;"></span>
                  </div>
                  <div>
                    <i class="fas fa-info-circle user-profile-info-accessed" [style.color]="getConversationColor()"
                      (click)="showUserInfo(false)"></i>
                  </div>
                </div>
              </div>
              <div class="profile-info-container">
                <div style="display: flex;justify-content: center;align-items: center;">
                  <div [style.background-image]="'url('+currentConversation.users[destinationUser].profileImg+')'"
                    class="img-circle" style="width: 100px;height: 100px;"></div>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;padding-top: 10px;">
                  <h4 class="user-name">
                    {{currentConversation.users[destinationUser].name }}
                    {{currentConversation.users[destinationUser].surname}}
                  </h4>
                </div>
                <div *ngIf="!checkBlockedConversation()"
                  style="display: flex;justify-content: center;align-items: center;padding-top: 10px;">
                  <h5 *ngIf="!currentConversation.users[destinationUser].connection.status"
                    style=" margin: 0; font-weight: 400;color: #999999;">
                    {{TransformDateOnline(currentConversation.users[destinationUser].connection.lastVisit)}}</h5>
                  <h5 *ngIf="currentConversation.users[destinationUser].connection.status"
                    style=" margin: 0; font-weight: 400;color: #999999;">
                    En ligne</h5>
                </div>

                <div style="display: flex;justify-content: center;align-items: center;padding-top: 20px;">
                  <h4 class="field-title">
                    Member since: <span
                      class="field-content">{{transformDateJoin(currentConversation.users[destinationUser].joinDate)}}</span>
                  </h4>

                </div>
                <div *ngIf="currentConversation.users[destinationUser].tel"
                  style="display: flex;justify-content: center;align-items: center;padding-top: 10px;padding-bottom: 20px;">
                  <h4 class="field-title">
                    Phone: <span class="field-content">{{currentConversation.users[destinationUser].tel}}</span>
                  </h4>

                </div>
                <div class="field-container" (click)="onOpenColorsModal(true)">
                  <h4 class="field-title">
                    Theme
                  </h4>
                  <div class="conversation-theme" [style.background-color]="getConversationColor()">

                    <span class="white-circle"></span>
                  </div>

                </div>
                <div class="field-container" (click)="onOpenEmojiModal(true)">
                  <h4 class="field-title">
                    Emoji
                  </h4>
                  <div class="conversation-theme">

                    <p style="font-size: 25px;">{{emoji.replace_colons(currentConversation.emoji)}}</p>
                  </div>

                </div>
                <div class="field-container" (click)="onOpenEditPseudoModal(true)">
                  <h4 class="field-title">
                    Pseudos
                  </h4>

                </div>
                <div class="field-container" (click)="archiveConversation(currentConversation._id)">
                  <h4 class="field-title">
                    Archiver la conversation
                  </h4>

                </div>

                <div class="field-container" (click)="onOpenDeleteConver(true)">
                  <h4 class="field-title">
                    Supprimer la conversation
                  </h4>

                </div>
                <div class="field-container" (click)="onOpenIgnoreMessages(true)">
                  <h4 class="field-title">
                    Ignorer les messages
                  </h4>
                </div>
                <div class="field-container" (click)="onOpenBlockMsgModal(true)">
                  <h4 *ngIf="!checkBlockedUser()" class="field-title">
                    Bloquer {{currentConversation.users[destinationUser].surname}}
                  </h4>
                  <h4 *ngIf="checkBlockedUser()" class="field-title">
                    Débloquer {{currentConversation.users[destinationUser].surname}}
                  </h4>
                </div>


              </div>
            </div>
          </div>
          <div *ngIf="selectedConversation && !loadingMessages" class="col-lg-8 col-md-12 pd-right-none pd-left-none">
            <div class="conversation-box">
              <div style="position: absolute;bottom: 0;right: 20px;margin-bottom: 50px;z-index: 900;">
                <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                  title="Pick your emoji…"></emoji-mart>
              </div>
              <div class="conversation-header">
                <div class="user-message-details">
                  <div class="user-message-img">
                    <div [style.background-image]="'url('+currentConversation.users[destinationUser].profileImg+')'"
                      class="img-circle"></div>
                  </div>
                  <div class="user-message-header">
                    <h4 class="user-name">
                      {{getUserPseudo(currentConversation._id,currentConversation.users[destinationUser]._id)}}
                    </h4>

                    <div style="display: flex; align-items: center;">
                      <span
                        *ngIf="currentConversation.users[destinationUser].connection.status && !checkBlockedConversation()"
                        class="online-status"></span>
                      <h5
                        *ngIf="currentConversation.users[destinationUser].connection.status && !checkBlockedConversation()"
                        style="margin: 0; font-weight: 400;color: #999999;">En ligne</h5>
                      <h5
                        *ngIf="!currentConversation.users[destinationUser].connection.status && !checkBlockedConversation()"
                        style="margin: 0; font-weight: 400;color: #999999;">
                        {{TransformDateOnline(currentConversation.users[destinationUser].connection.lastVisit)}}</h5>

                    </div>

                  </div>


                  <div style="margin-right: 20px;">

                    <i class="fas fa-phone-alt" style="font-size: 25px;cursor: pointer;"
                      [style.color]="getConversationColor()" (click)="callUser(false)"></i>
                  </div>

                  <div style="display: flex;justify-content: center;align-items: center;margin-right: 10px;">

                    <i class="fas fa-video" style="font-size: 25px;cursor: pointer;"
                      [style.color]="getConversationColor()" (click)="callUser(true)">
                    </i>
                    <span *ngIf="currentConversation.users[destinationUser].connection.status" class="online-status"
                      style="margin-left: 5px;"></span>
                  </div>
                  <div>
                    <i class="fas fa-info-circle user-profile-info" [style.color]="getConversationColor()"
                      [style.background-color]="'rgba('+getConversationColor().split(')')[0].split('(')[1]+',0.2)'"
                      (click)="showUserInfo(true)"></i>
                  </div>


                  <!--/ user-message-info -->
                </div>
                <!--/ user-message-details -->
              </div>
              <!--/ conversation-header -->

              <div class="conversation-container" id="conversation-container">
                <div *ngIf="currentConversation.messages.length==0">
                  <div style="display: flex;justify-content: center;">
                    <span class="time-posted" style="color: #999999;">1:55 PM</span>
                  </div>
                  <div style="display: flex;justify-content: center;">
                    <div style="display: flex;">
                      <img [src]="connectedUser.profileImg" style="border: 2px solid white;" class="image-in-container"
                        alt="">
                      <img [src]="currentConversation.users[destinationUser].profileImg"
                        style="margin-left: -11px; border: 2px solid white;" class="image-in-container" alt="">
                    </div>

                  </div>
                  <div style="display: flex;justify-content: center; color: #999999; font-size: 12px;">
                    Bienvenue à vous deux sur Messenger.
                  </div>
                </div>
                <div *ngIf="currentConversation.messages.length>0" style="position: relative;min-height: 42vh;">
                  <div *ngFor="let message of currentConversation.messages">
                    <div *ngIf=" !checkSenderMsg(message.sender)" class="convo-box convo-left">
                      <div class="convo-area-left">
                        <div style="display: flex; align-items: flex-end;">
                          <img [src]="currentConversation.users[destinationUser].profileImg" alt=""
                            class="conversation-user-image">
                        </div>
                        <div class="convo-message-left">
                          <div class="convo-message-content"
                            [style.display]="message.videos.length == 0 && message.images.length == 0 ? 'flex':'inline'">

                            <div style="display: flex;align-items: center;">
                              <div class="row" *ngIf="message.images.length>0 && message.available"
                                style="max-width: 420px; padding-left: 5px;">
                                <div class="col-6 no-pdd" *ngFor=" let imageUrl of message.images"
                                  style="margin-bottom: 5px;">
                                  <div class="display-image-sended" style="margin-left: 10px;"
                                    [style.background-image]="'url(' +imageUrl+')'"
                                    (click)="setSelectedImage(imageUrl)">
                                    <img *ngIf="getLoadingImageStatus(message._id)" src="./assets/img/loader.gif"
                                      style="height: 50%;width: 50%;" />
                                  </div>
                                </div>
                              </div>
                              <div class="row" *ngIf="message.videos.length>0 && message.available"
                                style="max-width: 420px; padding-left: 5px;">
                                <div class="col-6 no-pdd" *ngFor=" let video of message.videos"
                                  style="margin-bottom: 5px;">
                                  <div class="display-image-sended" style="margin-left: 10px;">
                                    <video style="border-radius: 18px;" width="200" height="200" controls>
                                      <source type="video/mp4" [src]="video" id="mp4" />
                                    </video>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="!message.available" class="message-text-left">
                              <p class="message-deleted">{{currentConversation.users[destinationUser].name}} a
                                supprimé
                                un message
                              </p>
                            </div>
                            <div *ngIf="message.available" class="message-text-left">

                              <div *ngIf="message.audio" class="audio-message-left">
                                <div id="animated-div"
                                  style="position:absolute;top:0;left:0;background-color:rgba(0, 0, 0, 0.1);height: 30px;z-index: 200;transition-timing-function: ease;border-radius: 20px;"
                                  [style.width]="isPlayingVocal(message._id) == 0 ?'0' : getVocalWidth(message._id)"
                                  [style.transition]="isPlayingVocal(message._id)==0 ? 'none' : 'width '+getDuration(message._id)+'s'">

                                </div>
                                <div
                                  style="position:absolute;top:0;left:10px;height:30px;width:165px;display: flex;align-items: center;justify-content: space-evenly;z-index:900;">
                                  <i *ngIf="!isPlayingVocal(message._id)" class="fas fa-play-circle"
                                    style="color:#c1c0c0;font-size: 16px;" (click)="playVocalMessage(message._id)"></i>
                                  <i *ngIf="isPlayingVocal(message._id)" class="fas fa-pause-circle"
                                    style="color:#c1c0c0;font-size: 16px;"
                                    (click)="pauseVocaleMessage(message._id)"></i>
                                  <div style="flex:1;background-color: #c1c0c0;height: 1px;"></div>
                                  <div
                                    style="background-color: #c1c0c0;border-radius: 10px;width: 43px;height: 16px;display: flex;justify-content: center;align-items: center;">
                                    <p style="color:#ffffff;margin:0;font-size: 13px;">
                                      {{transfromDuration(getDuration(message._id))}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="message.audioLogger!= null"
                                style="border:1px solid rgba(137, 143, 156, .20);border-radius: 1.3em;padding:5px 20px 0 20px;min-width: 250px;">
                                <div>
                                  <p style="font-weight: 800;margin: 0;">{{getMessageCallLog(message)}}</p>
                                  <div style="display: flex;justify-content: flex-start;align-items: center;">
                                    <i class="fas fa-external-link-alt"
                                      style="font-size: 14px;color:#9197a3;margin:20px 10px;"></i>
                                    <span
                                      style="font-weight: 800;color: #9197a3;">{{transformDateMessage(message.date)}}
                                    </span>
                                  </div>
                                </div>
                                <div
                                  style="border-top:1px solid rgba(137, 143, 156, .20);display: flex;justify-content: center;align-items: center;">
                                  <button class="button-success"
                                    (click)="callUser(message.audioLogger == 1)">Rappeler</button>

                                </div>

                              </div>
                              <p *ngIf="message.content.length>0">{{message.content}}</p>
                            </div>
                          </div>
                          <span *ngIf="message.audioLogger == null" class="tooltiptext-left">
                            <p>{{transformDateMessage(message.date)}}</p>
                          </span>
                        </div>
                      </div>
                      <div *ngIf="isLastSeenMsg(message)"
                        style="display: flex;justify-content: flex-end; align-items: center;padding-right: 5px;">
                        <img [src]="currentConversation.users[destinationUser].profileImg" alt=""
                          class="conversation-user-image" style="height: 15px;width: 15px;">

                      </div>
                    </div>

                    <div *ngIf="checkSenderMsg(message.sender)" class="convo-box convo-right">
                      <div class="convo-area-right">
                        <div class="convo-message-right">
                          <span *ngIf="message.audioLogger == null" class="tooltiptext-right">
                            <p>{{transformDateMessage(message.date)}}</p>
                          </span>
                          <div class="convo-message-content"
                            [style.display]="message.videos.length == 0 && message.images.length == 0 ? 'flex':'inline'">
                            <div style="display: flex;align-items: center;">
                              <div *ngIf="message.available" style="position: relative;">
                                <div *ngIf="getMessageControls(message._id)" (click)="deleteMessage(message._id)"
                                  class="message-options-items">Supprimer <span class="after-message-options"></span>
                                </div>

                                <div class="message-options" (click)="openMessageControls(message._id)">
                                  <i class="fas fa-ellipsis-h message-options-icon"></i>
                                </div>
                              </div>
                              <div class=" row" *ngIf="message.images.length>0 && message.available"
                                style="max-width: 420px; padding-right: 5px;">
                                <div class="col-6 no-pdd" *ngFor=" let imageUrl of message.images"
                                  style="margin-bottom: 5px;">
                                  <div class="display-image-sended" style="margin-right: 10px;"
                                    [style.background-image]="'url('+imageUrl+')'" (click)="setSelectedImage(imageUrl)">
                                    <img *ngIf="getLoadingImageStatus(message._id)" src="./assets/img/loader.gif"
                                      style="height: 50%;width: 50%;" />
                                  </div>
                                </div>
                              </div>
                              <div class="row" *ngIf="message.videos.length>0 && message.available"
                                style="max-width: 420px; padding-right: 5px;">
                                <div class="col-6 no-pdd" *ngFor=" let video of message.videos"
                                  style="margin-bottom: 5px;">
                                  <div class="display-image-sended" style="margin-right: 10px;">
                                    <video style="border-radius: 18px;" width="200" height="200" controls>
                                      <source type="video/mp4" [src]="video" id="mp4" />
                                    </video>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="!message.available" class="message-text-right">
                              <p class="message-deleted">Vous avez supprimé un message </p>
                            </div>
                            <div *ngIf="message.available" class="message-text-right">
                              <div *ngIf="message.audio" class="audio-message-right"
                                [style.background-color]="getConversationColor()">
                                <div id="animated-div"
                                  style="position:absolute;top:0;left:0;background-color:rgba(0, 0, 0, 0.1);height: 30px;z-index: 200;transition-timing-function: ease;border-radius: 20px;"
                                  [style.width]="isPlayingVocal(message._id) == 0 ?'0' : getVocalWidth(message._id)"
                                  [style.transition]="isPlayingVocal(message._id)==0 ? 'none' : 'width '+getDuration(message._id)+'s'">

                                </div>
                                <div
                                  style="position:absolute;top:0;left:10px;height:30px;width:165px;display: flex;align-items: center;justify-content: space-evenly;z-index:900;">
                                  <i *ngIf="!isPlayingVocal(message._id)" class="fas fa-play-circle"
                                    style="color:#ffffff;font-size: 16px;" (click)="playVocalMessage(message._id)"></i>
                                  <i *ngIf="isPlayingVocal(message._id)" class="fas fa-pause-circle"
                                    style="color:#ffffff;font-size: 16px;"
                                    (click)="pauseVocaleMessage(message._id)"></i>
                                  <div style="flex:1;background-color: #ffffff;height: 1px;"></div>
                                  <div
                                    style="background-color: #ffffff;border-radius: 10px;width: 43px;height: 16px;display: flex;justify-content: center;align-items: center;">
                                    <p style="color:#000000;margin:0;font-size: 13px;">
                                      {{transfromDuration(getDuration(message._id))}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="message.audioLogger!= null"
                                style="border:1px solid rgba(137, 143, 156, .20);border-radius: 1.3em;padding:5px 20px 0 20px;min-width: 250px;">
                                <div>
                                  <p style="font-weight: 800;margin: 0;">{{getMessageCallLog(message)}}</p>
                                  <div style="display: flex;justify-content: flex-start;align-items: center;">
                                    <i class="fas fa-external-link-alt"
                                      style="font-size: 14px;color:#9197a3;margin:20px 10px;"></i>
                                    <span
                                      style="font-weight: 800;color: #9197a3;">{{transformDateMessage(message.date)}}
                                    </span>
                                  </div>
                                </div>
                                <div
                                  style="border-top:1px solid rgba(137, 143, 156, .20);display: flex;justify-content: center;align-items: center;">
                                  <button class="button-success"
                                    (click)="callUser(message.audioLogger == 1)">Rappeler</button>

                                </div>

                              </div>
                              <p *ngIf=" message.content.length>0" [style.background-color]="getConversationColor()">
                                {{message.content}}</p>
                            </div>
                          </div>

                        </div>
                        <div style="display: flex; align-items: flex-end;"
                          [style.padding]="!isLastSeenMsg(message) && message.seen.state ? '0 15px 0 0' : !isLastSeenMsg(message) ?  '2px 2px': '0' ">
                          <div *ngIf="!message.seen.state">
                            <i *ngIf="!message._id" class="far fa-circle icon-state"></i>
                            <i *ngIf="message._id && !message.reception" class="far fa-check-circle icon-state"></i>
                            <i *ngIf="message._id && message.reception" class="fas fa-check-circle"
                              style="font-size: 11px;color: #999999;"></i>
                          </div>
                          <div *ngIf="isLastSeenMsg(message)">
                            <img [src]="currentConversation.users[destinationUser].profileImg" alt=""
                              class="conversation-user-image" style="height: 15px;width: 15px;">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!--/ convo-box -->
                <!--/ convo-box -->
                <div *ngIf="imagesToSend.length >0" class="add-image-container">
                  <div *ngFor="let image of imagesToSend">
                    <div class="image-to-send" [style.background-image]="'url('+image+')'">
                      <i class="far fa-times-circle delete-icon" (click)="onDeleteImage(image)"></i>
                    </div>
                  </div>
                </div>
                <div *ngIf="videosToSend.length >0" class="add-image-container">
                  <div *ngFor="let video of videosToSend">
                    <div class="videos-to-send">
                      <div class="play-button-container">
                        <i class="fas fa-play-circle" style="font-size: 40px; color:white;padding: 10px;"></i>
                      </div>
                      <div class="file-info-container">
                        <div>
                          <h4 style="margin: 0;">{{video.type.split('/')[1] | uppercase}}</h4>
                          <p class="video-name">{{video.name}}</p>
                        </div>
                        <div
                          style="display: flex;align-items:flex-start;justify-content: flex-end;width: 100%;height: 100%;padding:10px;">
                          <i class="far fa-times-circle delete-videos" (click)="onDeleteVideo(video)"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div *ngIf="openMicroPopUp" style="position: absolute;left: 0;bottom: 40px;">
                  <div class="micro-box">
                    <div class="micro-container">
                      <div style="width: 100%;">
                        <div *ngIf="isRecordingVocal" style="display: flex;justify-content: flex-end;width: 100%;">
                          <p style="margin: 0;padding: 10px 10px 0 0;color:#0084ff;cursor: pointer;"
                            (click)="stopRecording(false)">
                            Annuler</p>

                        </div>
                        <div style="width: 100%;display: flex;align-items: center;justify-content: center;">
                          <p class="record-time" [style.color]="isRecordingVocal ? 'red' : '#999999'">
                            00:{{recordDuration}}
                          </p>
                        </div>
                        <div style="display: flex;justify-content: center;align-items: center;">
                          <div style=" padding: 10px; border-radius: 50%; width: max-content;"
                            [style.background-color]="isRecordingVocal? 'rgba(0,0,0,0.2)' : 'transparent'">
                            <div
                              [ngClass]="isRecordingVocal? 'register-button active-record' : 'register-button inactive-record' ">
                              <p *ngIf="!isRecordingVocal" style="margin: 0;color: white;" (click)="startRecording()">
                                Enregistrer
                              </p>
                              <i *ngIf="isRecordingVocal" class="fas fa-stop" style="font-size: 25px; color: white;"
                                (click)="stopRecording(true)"></i>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      style="height: min-content;width: min-content;display: flex;justify-content: flex-start;align-items: flex-start;">
                      <span class="arrow-down" style="color: white;font-size: 25px;"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ conversation-container -->
              <div class="type_messages">
                <div *ngIf="!checkBlockedConversation()" class="input-field">
                  <i class="fas fa-microphone" style="font-size: 24px; padding-right: 10px;cursor: pointer;"
                    (click)="onOpenRecordPopUp()" [style.color]="getConversationColor()"></i>
                  <i class="fas fa-image send-message-icon" style="font-size: 24px; padding-right: 10px;"
                    [style.color]="getConversationColor()" (click)="uploadImageClicked()">
                  </i>
                  <textarea [minRows]="1" #inputMessage autosize placeholder="Type a new message" name="currentMessage"
                    (input)="convertMessage($event)" id="currentMessage" (focus)="messageFieldFocused()"
                    [(ngModel)]="currentMessage"></textarea>
                  <i style="margin-left: -30px; font-size: 25px; padding-right: 10px;cursor: pointer;"
                    [style.color]="getConversationColor()" class="fas fa-smile" (click)="toggleEmojiPicker()"></i>
                  <ul class="emoji">
                    <li>
                      <i *ngIf="currentMessage.length>0 || imagesToSend.length>0 || videosToSend.length>0"
                        class="fas fa-paper-plane send-message-icon" [style.color]="getConversationColor()"
                        (click)="onSendMessage()"></i>
                      <p *ngIf="currentMessage.length == 0 && imagesToSend.length == 0 && videosToSend.length == 0"
                        class="send-message-icon" style="margin: 0;" (click)="sendSingleEmoji()">
                        {{emoji.replace_colons(currentConversation.emoji)}}</p>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="type_messages" *ngIf="checkBlockedConversation()"
                [style.background-color]="getConversationColor()"
                style="display: flex;justify-content: center;align-items: center;">
                <p style="font-size: 14px;color:white;">
                  Vous ne pouver pas repondre a cette conversation
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>
      <input type="file" id="uploadimage" style="display: none;" (change)="handlefileInput($event.target.files)"
        multiple />

    </div>
  </div>
</section>
